{% extends "public/templates/public_template.html" %}

{% block title %}Jinja{% endblock %}

{% block main %}

<!-- CSS code -->
<div class="container">
    <div class="row">
        <div class="col">

            <h1>Jinja Template</h1>
            <hr>
            
            <h4>Variables</h4>
            <hr>
            <p>Name: {{ my_name }}</p>
            
            <!-- Jinja Code -->
            <!-- Looping -->
            <h4>Looping</h4>
            <hr>
            <ul>
                {% for lang in langs %}
                <li>{{ lang }}</li>
                {% endfor %}
            </ul>
            <!-- Loop Index -->
            <h4>Looping with Index</h4>
            <hr>
            <ul>
                {% for lang in langs %}
                <li>{{ loop.index }}: {{ lang }}</li>
                {% endfor %}
            </ul>
            <!-- Loop dic -->
            <h4>Looping with Dictionary</h4>
            <hr>
            <ul>
                {% for k,v in friends.items()  %}
                <li>{{ k }}: {{ v }}</li>
                {% endfor %}
            </ul>
            <h4>Looping with Dictionary keys</h4>
            <hr>
            <ul>
                {% for k in friends.keys()  %}
                <li>{{ k }}</li>
                {% endfor %}
            </ul>

            <!-- Access dict member -->
            <hr>
            <p>Tom is '{{ friends['Tom'] }}' years old.</p>

            <!-- Access List member -->
            <h4>Access List member</h4>
            <hr>
            <p>{{ langs[1] }}</p>

            <!-- Unpack Tuple variables -->
            <h4>Unpack Tuple variables</h4>
            <hr>
            {% set a, b = colors %}
            <p>{{ a }}</p>
            <p>{{ b }}</p>

            <!-- Access class attributes -->
            <h4>Access Class Attribs</h4>
            <hr>
            <p>{{ my_remote.name }}</p>

            <!-- Call a function -->
            <h4>Call a Function</h4>
            <hr>
            <p>{{ repeat('Flask is AWESOME! ', 2) }}</p>

            <!-- Call a class -->
            <h4>Call a Class method</h4>
            <hr>
            <p>{{ my_remote.clone() }}</p>

            <!-- Conditionals -->
            <h4>Conditionals</h4>
            <hr>
            {% if cool %}
                <p>Cool is {{ cool }}</p>
            {% endif %}
            
            <h4>Conditionals with comparison</h4>
            <hr>
            {% if age < 18 %}
                <p>No Entry</p>
            {% elif age < 26 %}
                <p>Nearly old enough</p>
            {% else %}
                <p>You may enter</p>
            {% endif %}
            
            <!-- Math operations -->
            <h4>Math</h4>
            <hr>
            <p>{{ age / 2 }}</p>
            
            <!-- Template Filters -->
            <h4>Template Filter</h4>
            <hr>
            <p>{{ langs|length }}</p> <!-- | is the filter sign followed by the method -->
            <br>
            <p>{{ my_name|reverse }}</p>
            <br>
            <p>{{ langs|join(", ")}}</p>
            
            <!-- Custom Filters -->
            <h4>Custom Filter</h4>
            <hr>
            <p>{{ date|clean_date }}</p>

            <!-- Escaping - jinja will try to prevent hacking cross site script attacks -->
            <h4>Escaping</h4>
            <hr>
            <p>This has no safe filter {{ my_html }}</p>
            <p>This has the safe filter {{ my_html|safe }}</p>

            <h4>Escaping - allowing script</h4>
            <hr>
            {{ suspicious|safe }}
            
        </div>
    </div>
</div>

{% endblock %}